
/* GENERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.margin{
    margin: 3%;
}

.margin-top-5{
    margin-top: 5%;
}

.padding-inline{
    padding-inline: 5%;
}

.padding-bottom{
    padding-bottom: 10%;
}

.padding-top{
    padding-top: 10%;
}

h3{
    color: rgb(43, 83, 168);
    padding-top: 5%;
    padding-bottom: 5%;
}

.left{
    text-align: left;
}

.immagine{
    width: 100%;
}

.txt-center{
    text-align: center;
}

.radius-25{
    border-radius: 25px;
}

a{
    text-decoration: none;
}
/* GENERAL COLOR */

.white{
    color: white;
}

.bg-white{
    background-color: white;
}

.text-purple{
    color: rgb(149,147,230);
}

.purple{
    background-color: rgb(149,147,230);
}

/* HEADER */

/* NAV */
header nav{
    background-color: rgb(43, 83, 168);
    display: flex;
    justify-content: space-between;
}

.icon{
    font-size: 25px;
}

/* FINE NAV */

/* SCHEDE */

.scheda{
    background-color: rgb(100, 212, 247);
    margin-top: 10%;
    border-radius: 25px;
    text-align: center;
    padding-inline: 5%;
}

.scheda p{
    color: rgb(87, 87, 87);
    padding-bottom: 5%;
}

#bottone{
    background-color: rgb(43, 83, 168);
    border-radius: 25px;
    margin-inline: 20%;
    height: 25px;
}

.scheda div a{
    text-decoration: none;
    color: white;
}

#demo-img{
    width: 100%;
    padding-top: 5%;
}

.img-scheda{
    padding-top: 10%;
    font-size: 100px;
    color: rgb(43, 83, 168);
}

/* SCHEDA PER APP */

.app{
    background-color: white;
    border-radius: 25px;
}

.cerchio{
    padding: 5%;
    border-radius: 50%;
    margin-inline: 40%;
}

/* SCHEDE TESTIMONE */

.img-testimone{
    width: 40%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.numero-scheda{
    font-size: 50px;
}

.bot-more{
    height: 25px;
    display: block;
    text-align: center;
    width: 20%;
}