
/* GENERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.margin{
    margin: 3%;
}

.margin-top-5{
    margin-top: 5%;
}

.margin-bottom{
    margin-bottom: 5%;
}

.padding-inline{
    padding-inline: 5%;
}

.padding-bottom{
    padding-bottom: 5%;
}

.padding-top{
    padding-top: 5%;
}

.padding-20{
    padding-inline: 20%;
}

h3{
    color: rgb(43, 83, 168);
    padding-top: 5%;
    padding-bottom: 5%;
}

.left{
    text-align: left;
}

.immagine{
    width: 100%;
}

.titolo-2rem{
    font-size: 2rem;
}

.txt-center{
    text-align: center;
}

.radius-25{
    border-radius: 25px;
}

a{
    text-decoration: none;
}

.relative{
    position: relative;
}

.block{
    display: block;
}

/* GENERAL COLOR */

.white{
    color: white;
}

.bg-white{
    background-color: white;
}

.text-purple{
    color: rgb(149,147,230);
}

.purple{
    background-color: rgb(149,147,230);
}

/* HEADER */

/* NAV */
header nav{
    background-color: rgb(43, 83, 168);
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
    align-items: center;
}

.icon{
    font-size: 25px;
}

header nav div ul{
    display: none;
}

ul li{
    display: inline-block;
    list-style: none;
    margin: 0 1.25rem;
}

ul li:last-child{
    margin-right: 0;
}

header nav div ul li a:last-child{
    color: black;
}

.bott{
    padding: 8px 12px;
}

/* FINE NAV */

/* SCHEDE */

header section{
    max-width: 1200px;
    margin: 0 auto;
}

.scheda{
    background-color: rgb(100, 212, 247);
    margin-top: 10%;
    border-radius: 25px;
    text-align: center;
    padding-inline: 5%;
    display: inline-block;
}

.scheda p{
    color: rgb(87, 87, 87);
    padding-bottom: 5%;
}

#bottone{
    background-color: rgb(43, 83, 168);
    border-radius: 25px;
    margin-inline: 20%;
    height: 25px;
}

.scheda div a{
    text-decoration: none;
    color: white;
}

#demo-img{
    width: 50%;
    padding-top: 5%;
    display: block;
}

.img-scheda{
    padding-top: 10%;
    font-size: 4rem;
    color: rgb(43, 83, 168);
}

/* SCHEDA PER APP */

.app{
    background-color: white;
    border-radius: 25px;
}

.cerchio{
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
    margin-inline: 45%;
}

/* SCHEDE TESTIMONE */

.img-testimone{
    width: 100%;
    width: 200px;
    border-radius: 50%;
    display: block;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

.numero-scheda{
    font-size: 5rem;
}

.bot-more{
    height: 2rem;
    display: block;
    text-align: center;
    width: 20%;
}

/* ABOUT US */

.about-us{
    text-align: left;
}

.img-about{
    width: 10rem;
    height: 8rem;
    border-radius: 50%;
    display: block;
}

.virgolette{
    position: absolute;
    top: 0.5rem;
    left: 7rem;
    font-size: 2rem;
}

/* GET STARTED */

.pink{
    color: pink;
    font-size: 1.26rem;
}

.free{
    color: orange;
    font-size: 3rem;
}

.linea{
    text-decoration: underline;
}


/* FOOTER */

footer{
    background-color: rgb(30, 27, 27);
}

/*  VERSIONE TABLET */


@media only screen and (min-width: 768px){

    #scheda-uno{
        max-width: 60%;
    }

    .scheda{
        max-width: 30%;
        max-height: 30rem;
        margin-left: 1rem;
        margin-top: 1.25rem;
    }

    #demo-img{
        width: 50%;
        display: block
    }

    /* TESTIMONE */

    .respo{
        display: flex;
        flex-direction: row;
    }

    .respo img{
        margin-top: 0;
    }

    /* LAVORA CON NOI */

    #schede-us{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #schede-us div{
        max-width: 40%;
    }

    /* ABOUT US */

    .about-us{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #block-60{
        max-width: 60%;
    }

    #block-30{
        max-width: 30%;
    }
}

/* VERSONE DESKTOP */


@media only screen and (min-width: 992px){

    .hamb{
        display: none;
    }

    header nav div ul{
        display: block;
    }

    /* SCHEDE */

    #scheda-uno{
        display: flex;
    }
    
    .scheda{
        margin-top: 1.25rem;
    }

    /* PRIMA SEZIONE VIOLA */

    .margin-pc{
        margin-inline: 20%;
    }

    .flex-pc{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

   .prima-sez-viola{
    width: 45%;
    margin-top: 10%;
   } 

   .img-viola{
    padding-bottom: 5rem;
   }

   .img-due{
    align-self: flex-end;
   }

   /* LAVORA CON NOI */

   #schede-us div{
    max-width: 30%;
   }

   /* ABOUT US */

   
}